In [59]:
import pandas as pd

weather = pd.read_csv("all_weather_data.csv")
stadium = pd.read_csv("Football_Stadiums.csv")
attendance_22_to_23 = pd.read_csv("Premier_League.csv")

### __`Inspect column names for inconsistencies`__

In [60]:
display(weather.columns)
display(stadium.columns)
display(attendance_22_to_23.columns)

Index(['location', 'date', 'min_temp °c', 'max_temp °c', 'rain mm',
       'humidity %', 'cloud_cover %', 'wind_speed km/h', 'wind_direction',
       'wind_direction_numerical'],
      dtype='object')

Index(['Confederation', 'Stadium', 'City', 'HomeTeams', 'Capacity', 'Country',
       'IOC', 'Population'],
      dtype='object')

Index(['date', 'clock', 'stadium', 'attendance', 'Home Team', 'Goals Home',
       'Away Team', 'Away Goals', 'home_possessions', 'away_possessions',
       'home_shots', 'away_shots', 'home_on', 'away_on', 'home_off',
       'away_off', 'home_blocked', 'away_blocked', 'home_pass', 'away_pass',
       'home_chances', 'away_chances', 'home_corners', 'away_corners',
       'home_offside', 'away_offside', 'home_tackles', 'away_tackles',
       'home_duels', 'away_duels', 'home_saves', 'away_saves', 'home_fouls',
       'away_fouls', 'home_yellow', 'away_yellow', 'home_red', 'away_red',
       'links'],
      dtype='object')

### __`Standardise names and parse dates as datetime objects `__

In [61]:
attendance_22_to_23.columns = attendance_22_to_23.columns.str.strip().str.lower().str.replace(" ", "_")
stadium.columns = stadium.columns.str.strip().str.lower().str.replace(" ", "_").str.replace(" ", "_")
weather.columns = weather.columns.str.strip().str.lower().str.replace(" ", "_").str.replace(" ", "_")
stadium['city'] = stadium['city'].str.lower().str.strip().str.replace(" ", "_")
stadium['stadium'] = stadium['stadium'].str.lower().str.strip().str.replace(" ", "_")
stadium['hometeams'] = stadium['hometeams'].str.lower().str.strip().str.replace(" ", "_")
stadium['country'] = stadium['country'].str.lower().str.strip().str.replace(" ", "_")
weather['location'] = weather['location'].str.lower().str.strip().str.replace(" ", "_")
attendance_22_to_23['stadium'] = attendance_22_to_23['stadium'].str.lower().str.strip().str.replace(" ", "_")
attendance_22_to_23['home_team'] = attendance_22_to_23['home_team'].str.lower().str.strip().str.replace(" ", "_")
attendance_22_to_23['away_team'] = attendance_22_to_23['away_team'].str.lower().str.strip().str.replace(" ", "_")
weather['date'] = pd.to_datetime(weather['date'],format="mixed", dayfirst=True)
attendance_22_to_23['date']= pd.to_datetime(attendance_22_to_23['date'],format="mixed", dayfirst=True)
attendance_22_to_23['clock'] = pd.to_datetime(attendance_22_to_23['clock'],format='mixed').dt.time
attendance_22_to_23['home_team_clean'] = (attendance_22_to_23['home_team'].str.strip().str.lower()).str.replace(" ", "_")
stadium['home_team_clean'] = (stadium['hometeams'].str.strip().str.lower()).str.replace(" ", "_")

In [62]:
team_map = {
    'brighton_and_hove_albion': 'albion',
    'west_ham_united': 'west_ham',
    'wolverhampton_wanderers': 'wolverhampton',
    'bournemouth':'afc_bournemouth',
    'tottenham_hotspur': 'tottenham',
    'brentford': 'brentford_fc'
}

In [64]:
attendance_22_to_23['home_team_clean'] = (attendance_22_to_23['home_team_clean'].replace(team_map))

In [66]:
display(weather.head())
display(stadium.head())
display(attendance_22_to_23.head())

,location,date,min_temp_°c,max_temp_°c,rain_mm,humidity_%,cloud_cover_%,wind_speed_km/h,wind_direction,wind_direction_numerical
0,holywood,2009-01-01,0.0,3.0,0.0,86.0,14.0,12.0,E,90.0
1,north_cray,2009-01-01,-3.0,2.0,0.0,93.0,44.0,8.0,NNE,22.5
2,portknockie,2009-01-01,2.0,4.0,0.8,88.0,87.0,10.0,ESE,112.5
3,blairskaith,2009-01-01,-3.0,1.0,0.0,86.0,43.0,12.0,ENE,67.5
4,onehouse,2009-01-01,-1.0,3.0,0.0,91.0,63.0,7.0,S,180.0

,confederation,stadium,city,hometeams,capacity,country,ioc,population,home_team_clean
0,UEFA,stadiumi_besëlidhja,lezhë,besëlidhja,7000,albania,ALB,2876591,besëlidhja
1,UEFA,stadiumi_flamurtari,vlorë,flamurtari_vlorë,8200,albania,ALB,2876591,flamurtari_vlorë
2,UEFA,stadiumi_laçi,laçi,kf_laçi,5000,albania,ALB,2876591,kf_laçi
3,UEFA,stadiumi_niko_dovana,durrës,teuta,12040,albania,ALB,2876591,teuta
4,UEFA,stadiumi_selman_stërmasi,tirana,"kf_tirana,_dinamo,_partizani",9500,albania,ALB,2876591,"kf_tirana,_dinamo,_partizani"

,date,clock,stadium,attendance,home_team,goals_home,away_team,away_goals,home_possessions,away_possessions,...,home_saves,away_saves,home_fouls,away_fouls,home_yellow,away_yellow,home_red,away_red,links,home_team_clean
0,2023-05-28,16:30:00,emirates_stadium,"60,095",arsenal,5,wolverhampton_wanderers,0,51.0,49.0,...,0,3,8,11,0,0,0,0,https://www.skysports.com/football/arsenal-vs-...,arsenal
1,2023-05-28,16:30:00,villa_park,"42,212",aston_villa,2,brighton_and_hove_albion,1,40.3,59.7,...,3,3,15,16,4,4,0,0,https://www.skysports.com/football/aston-villa...,aston_villa
2,2023-05-28,16:30:00,gtech_community_stadium,"17,120",brentford,1,manchester_city,0,34.4,65.6,...,2,3,12,8,4,0,0,0,https://www.skysports.com/football/brentford-v...,brentford_fc
3,2023-05-28,16:30:00,stamford_bridge,"40,130",chelsea,1,newcastle_united,1,64.4,35.6,...,3,5,9,11,0,0,0,0,https://www.skysports.com/football/chelsea-vs-...,chelsea
4,2023-05-28,16:30:00,selhurst_park,"25,198",crystal_palace,1,nottingham_forest,1,66.0,34.0,...,3,2,9,13,0,2,0,0,https://www.skysports.com/football/crystal-pal...,crystal_palace

In [67]:
print(weather.shape)
print(stadium.shape)
print(attendance_22_to_23.shape)

(2836186, 10)
(2024, 9)
(380, 40)

In [68]:
eng_stadium = stadium[stadium.country == 'england']
display(eng_stadium)
print(eng_stadium.shape)

,confederation,stadium,city,hometeams,capacity,country,ioc,population,home_team_clean
402,UEFA,abax_stadium,peterborough,peterborough_utd,14319,england,ENG,55619400,peterborough_utd
403,UEFA,abbey_business_stadium,chaltenham,"chaltenham_town,_gloucester_city",7066,england,ENG,55619400,"chaltenham_town,_gloucester_city"
404,UEFA,abbey_stadium,cambridge,cambridge_united,9617,england,ENG,55619400,cambridge_united
405,UEFA,academy_stadium,manchester,manchester_city,7000,england,ENG,55619400,manchester_city
406,UEFA,adams_park,wycombe,wycombe_wanderers,10284,england,ENG,55619400,wycombe_wanderers
...,...,...,...,...,...,...,...,...,...
513,UEFA,villa_park,birmingham,aston_villa,42682,england,ENG,55619400,aston_villa
514,UEFA,vitality_stadium,bournemouth,afc_bournemouth,11360,england,ENG,55619400,afc_bournemouth
515,UEFA,wembley,london,tottenham,90652,england,ENG,55619400,tottenham
516,UEFA,wham_stadium,accrington,stanley,5057,england,ENG,55619400,stanley
517,UEFA,white_hart_lane,london,tottenham,32000,england,ENG,55619400,tottenham

(116, 9)

In [69]:
#attendance_22_to_23.to_csv("clean_attendance.csv", index=False)
#eng_stadium.to_csv("clean_stadiums.csv", index=False)
#weather.to_csv("clean_weather.csv", index=False)

In [70]:
att_and_stadium = attendance_22_to_23.merge(eng_stadium, how="left", on='home_team_clean', validate='many_to_many')

In [71]:
display(att_and_stadium)

,date,clock,stadium_x,attendance,home_team,goals_home,away_team,away_goals,home_possessions,away_possessions,...,links,home_team_clean,confederation,stadium_y,city,hometeams,capacity,country,ioc,population
0,2023-05-28,16:30:00,emirates_stadium,"60,095",arsenal,5,wolverhampton_wanderers,0,51.0,49.0,...,https://www.skysports.com/football/arsenal-vs-...,arsenal,UEFA,emirates_stadium,london,arsenal,59867,england,ENG,55619400
1,2023-05-28,16:30:00,villa_park,"42,212",aston_villa,2,brighton_and_hove_albion,1,40.3,59.7,...,https://www.skysports.com/football/aston-villa...,aston_villa,UEFA,villa_park,birmingham,aston_villa,42682,england,ENG,55619400
2,2023-05-28,16:30:00,gtech_community_stadium,"17,120",brentford,1,manchester_city,0,34.4,65.6,...,https://www.skysports.com/football/brentford-v...,brentford_fc,UEFA,griffin_park,london,brentford_fc,12300,england,ENG,55619400
3,2023-05-28,16:30:00,stamford_bridge,"40,130",chelsea,1,newcastle_united,1,64.4,35.6,...,https://www.skysports.com/football/chelsea-vs-...,chelsea,UEFA,stamford_bridge,london,chelsea,41631,england,ENG,55619400
4,2023-05-28,16:30:00,selhurst_park,"25,198",crystal_palace,1,nottingham_forest,1,66.0,34.0,...,https://www.skysports.com/football/crystal-pal...,crystal_palace,UEFA,selhurst_park,london,crystal_palace,25456,england,ENG,55619400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2022-08-06,15:00:00,"st_james'_park,_newcastle","52,245",newcastle_united,2,nottingham_forest,0,61.4,38.6,...,https://www.skysports.com/football/newcastle-u...,newcastle_united,UEFA,st._james’_park,newcastle,newcastle_united,52354,england,ENG,55619400
433,2022-08-06,15:00:00,tottenham_hotspur_stadium,"61,732",tottenham_hotspur,4,southampton,1,57.5,42.5,...,https://www.skysports.com/football/tottenham-h...,tottenham,UEFA,wembley,london,tottenham,90652,england,ENG,55619400
434,2022-08-06,15:00:00,tottenham_hotspur_stadium,"61,732",tottenham_hotspur,4,southampton,1,57.5,42.5,...,https://www.skysports.com/football/tottenham-h...,tottenham,UEFA,white_hart_lane,london,tottenham,32000,england,ENG,55619400
435,2022-08-06,17:30:00,goodison_park,"39,254",everton,0,chelsea,1,37.3,62.7,...,https://www.skysports.com/football/everton-vs-...,everton,UEFA,goodison_park,liverpool,everton,39595,england,ENG,55619400
436,2022-08-05,20:00:00,selhurst_park,"25,286",crystal_palace,0,arsenal,2,56.3,43.7,...,https://www.skysports.com/football/crystal-pal...,crystal_palace,UEFA,selhurst_park,london,crystal_palace,25456,england,ENG,55619400

In [72]:
#att_and_stadium.to_csv("attendance_with_stadiums.csv", index=False)

In [74]:
print(att_and_stadium[['city', 'date']].isna().mean())
print(weather[['location', 'date']].isna().mean())

city    0.0
date    0.0
dtype: float64
location    0.0
date        0.0
dtype: float64

In [75]:
df = att_and_stadium.merge(weather, how="left", left_on=["city", "date"], right_on=["location", "date"])

In [82]:
city_weather_map = {
    "liverpool": "manchester",
    "leicester": "nuneaton",
    "nottingham": "nuneaton",
    "wolverhampton": "birmingham",
    "southampton": "chichester",
    "brighton_&_hove": "portslade-by-sea",
    "bournemouth": "chichester"
}

In [79]:
display(df)

,date,clock,stadium_x,attendance,home_team,goals_home,away_team,away_goals,home_possessions,away_possessions,...,population,location,min_temp_°c,max_temp_°c,rain_mm,humidity_%,cloud_cover_%,wind_speed_km/h,wind_direction,wind_direction_numerical
0,2023-05-28,16:30:00,emirates_stadium,"60,095",arsenal,5,wolverhampton_wanderers,0,51.0,49.0,...,55619400,london,8.0,21.0,0.0,64.0,43.0,14.0,NE,45.0
1,2023-05-28,16:30:00,villa_park,"42,212",aston_villa,2,brighton_and_hove_albion,1,40.3,59.7,...,55619400,birmingham,9.0,17.0,0.3,78.0,64.0,15.0,SE,135.0
2,2023-05-28,16:30:00,gtech_community_stadium,"17,120",brentford,1,manchester_city,0,34.4,65.6,...,55619400,london,8.0,21.0,0.0,64.0,43.0,14.0,NE,45.0
3,2023-05-28,16:30:00,stamford_bridge,"40,130",chelsea,1,newcastle_united,1,64.4,35.6,...,55619400,london,8.0,21.0,0.0,64.0,43.0,14.0,NE,45.0
4,2023-05-28,16:30:00,selhurst_park,"25,198",crystal_palace,1,nottingham_forest,1,66.0,34.0,...,55619400,london,8.0,21.0,0.0,64.0,43.0,14.0,NE,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2022-08-06,15:00:00,"st_james'_park,_newcastle","52,245",newcastle_united,2,nottingham_forest,0,61.4,38.6,...,55619400,newcastle,10.0,19.0,0.0,69.0,60.0,16.0,W,270.0
433,2022-08-06,15:00:00,tottenham_hotspur_stadium,"61,732",tottenham_hotspur,4,southampton,1,57.5,42.5,...,55619400,london,13.0,26.0,0.0,37.0,22.0,7.0,S,180.0
434,2022-08-06,15:00:00,tottenham_hotspur_stadium,"61,732",tottenham_hotspur,4,southampton,1,57.5,42.5,...,55619400,london,13.0,26.0,0.0,37.0,22.0,7.0,S,180.0
435,2022-08-06,17:30:00,goodison_park,"39,254",everton,0,chelsea,1,37.3,62.7,...,55619400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,2022-08-05,20:00:00,selhurst_park,"25,286",crystal_palace,0,arsenal,2,56.3,43.7,...,55619400,london,14.0,24.0,0.0,39.0,9.0,13.0,WSW,247.5

In [81]:
df.loc[df['location'].isna(),'city',].value_counts()

city
liverpool          38
leicester          19
southampton        19
brighton_&_hove    19
bournemouth        19
wolverhampton      19
nottingham         19
Name: count, dtype: int64

In [77]:
#display(weather['location'].unique())